/* Reset */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
/*Reset*/
.container {
  display: flex;
  place-content: center;
  height: 100vh;
  place-items: center;
}

.game-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1px 1px;
  grid-template-areas: ". . ." ". . ." ". . .";
  max-width: 300px;
  max-height: 300px;
  row-gap: 0;
  column-gap: 0;
  margin: 20px;
}

.game-container .box {
  height: 100px;
  width: 100px;
  border: 5px solid rgb(29, 27, 27);
  display: flex;
  align-items: center;
  justify-content: center;
}
.game-container .box:nth-child(3n) {
  border-right: 0;
}
.game-container .box:nth-child(3n + 1) {
  border-left: 0;
}
.game-container .box:nth-child(-n + 3) {
  border-top: 0;
}

.game-container .box:nth-last-child(-n + 3) {
  border-bottom: 0;
}

.symbol-o::after {
  content: " ";
  border: 10px solid black;
  border-radius: 1000%;
  padding: 1.6em;
  display: inline-block;
}

.symbol-x::before {
  content: " ";
  border: 6px solid black;
  padding: 2em 0;
  transform: rotate(-45deg);
  display: inline-block;
  position: absolute;
}

.symbol-x::after {
  content: " ";
  border: 6px solid black;
  padding: 2em 0;
  transform: rotate(45deg);
  display: inline-block;
}
